/*----- 전역 -----*/
:root {
    --content-max-width: 768px;

    --primary-color: 137, 127, 252;
    --white-color: 255, 255, 255;

    --app-background-color: var(--white-color);
    --app-text-color: 50, 50, 50;
}

html {
    background-color: rgb(var(--white-color));
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    color: rgb(var(--app-text-color));
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
        "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
        "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/*----- 레이아웃 -----*/

#root {
    max-width: var(--content-max-width);
    margin: 0 auto;
}

.main-area {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 5vh 6%;
}

/*----- 요소 -----*/

a {
    color: rgb(var(--primary-color));
    text-underline-offset: 0.2em;
    text-decoration-color: rgba(var(--primary-color), 0.4);
    text-decoration-thickness: 0.2em;
}

input,
select,
button {
    padding: 0.5em 1em;
}
